# .gitignore

# Database
assets/

# Data
data.json
src/qa/test/data.json
src/qa/data.json

# Logs
src/qa/data
data/

# Build Files
build/contracts
build/

# Python
.pyc
*.pyc
.project
.pydevproject
__pycache__

# Editors
.vscode

